# exclude all built .class and .jar files
**/*.class
**/*.jar

# exclude all traces of IntelliJ
**/out/**
**/.idea/**
**/*.iml
**/*.uxf

# exclude npm's massive package storage
**/node_modules/**
**/package-lock.json

# exclude Jupyter Notebook checkpoints
**/.ipynb_checkpoints

